/* ------------------------- */
/*       General             */
/* ------------------------- */

/* ------------------------- */
/*  Basen                    */
/* ------------------------- */

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../public/assets/fonts/Poppins-Light.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../public/assets/fonts/Poppins-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url('../public/assets/fonts/Poppins-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('../public/assets/fonts/Poppins-Bold.woff') format('woff')
}

body,
html {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #fff;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-content {
  padding-top: 40px;
  padding-bottom: 40px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#root .main-content {
  flex: 1 1 auto;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.bold {
  font-weight: bold;
}

.centered {
  text-align: center;
}

.vertical-separator {
  margin-top: 42px;
}

h1,h2,h3,h4,h5 {
  margin: 0;
}

.grey-card {
  padding-left: 45px;
  padding-top: 32px;
  padding-right: 44px;
  padding-bottom: 19px;
  background: #f2f4f8;
}

.transparent-card {
  padding-top: 32px;
  padding-right: 44px;
  padding-bottom: 19px;
}

.row {
  height: 48px;
}

.row .label {
  float: left;
}

.row .value {
  float: right;
}

/* ------------------------- */
/*  Buttons                  */
/* ------------------------- */

.button {
  background-color: white;
  border: 2px solid black;
  font-weight: 600;
  font-size: 100%;
  padding: 15px 30px;
  cursor: pointer;
  text-align: center;
  transition: all 200ms ease;
  position: relative;
  overflow: hidden;
}

.button:hover span {
  color: #fff;
}

.button span {
  display: inline-block;
  z-index: 1;
  position: relative;
}

.button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: #1b1b1b;
  z-index: 0;
  opacity: 0;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.button:hover:after {
  opacity: 1;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button.fullwidth {
    width: 100%;
}

/* ------------------------- */
/*  Forms                    */
/* ------------------------- */

.form-group .field {
  position: relative;
  padding-bottom: 26px;
}

.form-group .field.half {
  width: calc(50% - 42px);
  padding-right: 42px;
  display: inline-block;
}

.form-group .field.half:nth-child(2n) {
  width: calc(50%);
  padding-right: 0;
  display: inline-block;
}

.form-group .field.error input {
    border: 1px solid red;
}

.form-group .field .error-message {
  position: absolute;
  bottom: 8px;
  left: 0;
  color: red;
  font-size: 90%;
}

.form-group .field label {
  display: block;
  font-size: 90%;
  color: #6c6a74;
  padding: 5px 0;
}

.form-group .field input {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  background-color: #f2f4f8;
  height: 42px;
  padding-left: 15px;
  box-sizing: border-box;
  font-size: 100%;
  margin-bottom: 10px;
}

.radio-group .radio-label {
  line-height: 35px;
}

.radio-group input {
  position: absolute;
  opacity: 0;
}

.radio-group .radio-label {
  display: block;
  font-size: 90%;
  padding: 5px 0;
  font-size: 100%;
  position: relative;
  padding-left: 32px;
}

.radio-group .radio-label:before {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #6c6a74;
  position: absolute;
  top: 12px;
  left: 0;
  border-radius: 50%;
}

.radio-group .radio-label span:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #000;
  position: absolute;
  top: 17px;
  left: 5px;
  border-radius: 50%;
  opacity: 0;
}

.radio-group input:checked + span:after {
  opacity: 1;
}

.radio-group input {
  margin-right: 15px;
}

.select-box {
  display: inline-block;
  position: relative;
  width: 147px;
}

.select-box:after {
  content: url(../public/assets/images/chevron-bottom.png);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
}

select {
  display: inline-block;
  width: 100%;
  height: 53px;
  border: solid 2px #d0d0d0;
  overflow: hidden;
  padding: 10px 14px;
  vertical-align: middle;
  background: transparent;
  border-radius: 0;
  outline: none;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: 500;
  color: #6c6a74;
}

/* ------------------------- */
/*       Headings            */
/* ------------------------- */

.alpha {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 500;
}

.beta {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}

.subtitle {
  margin: 0;
  color: #6c6a74;
  font-size: 100%;
}


/* ------------------------- */
/*       Texts               */
/* ------------------------- */

.basic-text {
  font-size: 14px;
  line-height: 2.14;
  font-weight: 400;
  color: #6c6a74;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.intro-title {
  margin-bottom: 40px;
}

.intro-title .beta {
  margin-bottom: 0;
}

/* ------------------------- */
/*       Shopping Cart       */
/* ------------------------- */

.shopping-cart-items {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-right: 40px;
  margin: 20px 0;
  width: 70%;
}

.shopping-cart-items .items-header {
  margin-top: 21px;
  display: grid;
  grid-template-columns: 50% 12.5% 12.5% 25%;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d0d0d0;
}

.shopping-cart-items .shopping-cart-item {
  display: grid;
  grid-template-columns: 1fr 2fr 12.5% 12.5% 12.5% 12.5%;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.shopping-cart-items .shopping-cart-item:not(:last-child) {
  border-bottom: 1px solid #d0d0d0;
}

.shopping-cart-items .shopping-cart-item .product-thumbnail > img {
  max-height: 150px;
}

.shopping-cart-items .shopping-cart-item .product-info {
  margin-left: 30px;
}

.shopping-cart-items .shopping-cart-item .product-info .product-title {
  margin: 5px 0;
}

.shopping-cart-items .shopping-cart-item .product-info .product-subtitle {
  color: #d0d0d0;
}

.shopping-cart-item .product-total {
  font-weight: 500;
  color: #6c6a74;
}

.product-quantity .select-box {
  width: 72px;
}

.cart-total {
  vertical-align: top;
  display: inline-block;
  margin: 20px 0;
  width: 29%;
}

/* ------------------------- */
/*         Checkout          */
/* ------------------------- */

.checkout-page {
  display: flex;
  flex-direction: row;
}

.checkout-forms {
  padding-right: 42px;
  vertical-align: top;
}

.checkout-summary {
  width: 40%;
  vertical-align: top;
  box-sizing: border-box;
}

/* ------------------------- */
/*  Product summary          */
/* ------------------------- */

.product-summary {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.product-summary .product-picture {
  margin-bottom: 30px;
}

.product-title {
  font-size: 18px;
  font-weight: 500;
  color: #1b1b1b;
  line-height: 1.1;
  transition: all 200ms ease;
}

.product-summary .product-price {
  font-size: 16px;
  font-weight: 500;
  color: #6c6a74;
  line-height: 0.75;
  margin-top: 13px;
}

.product-summary .product-thumbnail > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  height: 330px;
}

/* ------------------------- */
/*      Product details      */
/* ------------------------- */


.product-details {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-template-areas:
      "picture title"
      "picture price"
      "picture availability"
      "picture description"
      "picture actions"
      "picture ."
      "related related"
      "related-grid related-grid"
}

.action-remove {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: top;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.action-remove span {
    position: relative;
    bottom: 1px;
    left: 0.5px;
}

.action-remove:hover {
  background: #f1f1f1;
}

.product-details .product-title {
  grid-area: title;
  font-size: 24px;
  font-weight: 500;
  color: #1b1b1b;
}

.product-details .product-price {
  grid-area: price;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #6c6a74;
  margin-top: 12px;
}

.product-details .product-availability {
  grid-area: availability;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #6c6a74;
}

.product-availability .status {
  display: inline-block;
  margin-left: 5px;
}

.product-availability .status.success {
  color: #44a038;
}

.product-availability .status.error {
  color: #e95a5a;
}

.product-details .product-picture {
  grid-area: picture;
}

.product-details .product-picture > img {
  width: 100%;
}

.product-details .product-description {
  grid-area: description;
}

.product-details .product-actions {
  grid-area: actions;
}

.product-details .product-actions .product-quantity {
    display: inline-block;
    vertical-align: top;
}

.product-details .product-actions .select-box {
    width: 147px;
}

.product-details .product-actions * {
  margin-right: 10px;
}

.related-products {
  margin-bottom: 15px;
  margin-top: 80px;
}

.related-products .beta {
  grid-area: related;
  color: #1b1b1b;
  margin-bottom: 40px;
}

.related-products .related-grid {
  grid-area: related-grid;
}

/* ------------------------- */
/*      Footer               */
/* ------------------------- */

.footer {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, .15);
}

.footer .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer .copy {
  margin-left: auto;
  font-size: 14px;
}

/* ------------------------- */
/*      Header               */
/* ------------------------- */

.header {
  width: 100%;
  padding: 15px 0;
  box-sizing: border-box;
  box-shadow: -4px 1px 3px 0 rgba(0, 0, 0, .15);
}

.header:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.header .logo {
  text-transform: uppercase;
  float: left;
}

.header .actions {
  display: inline-block;
  float: right;
  list-style: none;
  margin: 0;
}

.header .actions li {
  display: inline-block;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #767676;
}

/* ------------------------- */
/*      Pagination           */
/* ------------------------- */

.pagination-container {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.pagination-container .pagination-item {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
  color: #6c6a74;
  margin-right: 4px;
  transition: all 200ms ease;
}

.pagination-container .pagination-item:after {
  content: ".";
}

.pagination-container .pagination-item:hover {
  color: #1b1b1b;
}

.pagination-container .pagination-item.active {
  color: #1b1b1b;
}
